$primary-color: #232323;
$primary-variant: #414141;
$primary-dark: #0D0D0D;
$primary-light: #888787;
$on-primary-color: #E6E6E6;
$background-color: #E6E6E6;
$progress-color: rgb(129, 131, 15);
$progress-fail-color: rgb(122, 2, 2);
$status-pending: rgb(235, 235, 113);
$status-processing: rgb(143, 143, 192);
$status-done: rgb(112, 187, 116);
$status-failed: rgb(231, 119, 119);