@use '../../colors';

.upload-progress-bar {
    background-color: colors.$primary-color;
    margin: 0.5em;
    position: relative;
    padding: 0.5em;
    box-shadow: 3px 3px 3px rgba(8, 8, 8, 0.452);

    div.upload-progress-indicator {
        background-color: colors.$progress-color;
        height: 100%;
        width: 30%;
        position: absolute;
        top: 0;
        left: 0;
        z-index:0;
        transition: width 0.5s;
    }
    
    span.name {
        display: inline-block;
        color: colors.$on-primary-color;
        z-index: 1;
        position: relative; 
        max-width: 40%;
        overflow: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
    }  

    span.name::-webkit-scrollbar {
        display: none;
    }

    span.percentage {
        position: absolute;
        left: 50%;
        z-indeX: 1;
        color: colors.$on-primary-color;
        
        z-index: 1;
    }
    span.delete {
        position: absolute;
        right: 0.5em;
        color: colors.$on-primary-color;
        z-index: 1;
    }
    span.delete:hover {
        cursor: pointer;
    }
}
div.upload-progress-failed {
    background-color: colors.$progress-fail-color;
    color: blue;
}