@use '../breakpoints';

.main-container {
    display: grid;
    height: 100vh;
    min-height: 568px;
    grid-template-columns: 100%;
    grid-template-rows: 33% auto 33%;
}

.banner-container {
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
}

.sign-in-button-container {
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
}

.footer-container {
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
}

@media (min-width: breakpoints.$wide) {
    @import './_Login_wide.scss';
}


