@use '../../colors';
@use '../../breakpoints';

.sign-in-button {
    height: fit-content;
    padding: 0.8em;
    background-color: colors.$primary-color;
    color: colors.$on-primary-color;
    border: 0;
    border-radius: 1em;
    box-shadow: 2px 2px 3px rgb(94, 94, 94);
    display: block;
    margin: auto;
    position: absolute;
    bottom: -10em;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        height: 1.3em;
        display: inline-block;
        margin-right: 1em;
    }
    span {
        display: inline-block;
        font-size: 1.3em;
        font-weight: bold;
    }
}

.sign-in-button:hover {
    cursor: pointer;
    box-shadow: none;
}

.sign-in-button:focus {
    border: none;
    outline: none;
}

@media (min-width: breakpoints.$medium) {
    @import './SignInButton_medium';
}

@media (min-width: breakpoints.$wide) {
    @import './SignInButton_wide';
}