nav.nav {
  background-color: #232323;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav.nav .header {
  display: none;
}
nav.nav .toolbar {
  display: block;
  float: right;
  height: 40px;
  background-color: #0D0D0D;
  padding: 5px 10px;
  width: 100%;
}
nav.nav .toolbar .searchbar {
  height: 20px;
  margin: 5px 0px;
  border-radius: 1em;
  margin-left: 1.5em;
  float: left;
  background-color: #E6E6E6;
  padding: 5px;
  position: relative;
}
nav.nav .toolbar .searchbar input[type=text] {
  margin: 0;
  background: none;
  text-decoration: none;
  outline: none;
  border: none;
  color: #232323;
  height: 20px;
  position: inherit;
  top: -5px;
  padding: 5px;
}
nav.nav .toolbar .searchbar img {
  height: 20px;
}
nav.nav .toolbar .avatar {
  float: right;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
nav.nav .toolbar .avatar img {
  height: 40px;
}
nav.nav .toolbar .avatar:hover {
  cursor: pointer;
  opacity: 0.8;
}
nav.nav .toolbar .avatar-submenu {
  background-color: #0D0D0D;
  color: #E6E6E6;
  position: fixed;
  right: 0;
  top: 50px;
  padding: 0.5em 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
}
nav.nav .toolbar .avatar-submenu .action {
  padding: 0.5em 1em;
}
nav.nav .toolbar .avatar-submenu .action:hover {
  background-color: #888787;
  cursor: pointer;
}
nav.nav .toolbar .hidden {
  display: none;
}

@media (min-width: 600px) {
  nav.nav .toolbar .searchbar {
    margin-left: 3em;
  }
  nav.nav .toolbar .searchbar input[type=text] {
    width: 15em;
  }
}
@media (min-width: 800px) {
  nav.nav .toolbar .searchbar {
    margin-left: 5em;
  }
  nav.nav .toolbar .searchbar input[type=text] {
    width: 20em;
  }
}
@media (min-width: 1280px) {
  nav.nav .header {
    display: block;
    height: 40px;
    float: left;
    font-size: 25px;
    font-weight: bold;
    background-color: #0D0D0D;
    color: #E6E6E6;
    padding: 5px;
    padding-left: 0.5em;
    padding-right: 1em;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
  }
  nav.nav .toolbar {
    width: 50%;
  }
  nav.nav .toolbar .searchbar {
    margin-left: 3em;
  }
  nav.nav .toolbar .searchbar input[type=text] {
    width: 25em;
  }
}

/*# sourceMappingURL=NavigationBar.css.map */
