@use '../../colors';
@use '../../breakpoints';
 
nav.nav {
    background-color: colors.$primary-color;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    

    .header {
        display: none;
        
    }
    .toolbar{
        display: block;
        float: right;
        height: 40px;
        background-color: colors.$primary-dark;
        padding: 5px 10px;
        width: 100%;
        .searchbar{
            height: 20px;
            margin: 5px 0px;
            border-radius: 1em;
            margin-left: 1.5em;
            float: left;
            background-color: colors.$on-primary-color;
            padding: 5px;
            position: relative;
            input[type="text"] {
                margin: 0;
                background: none;
                text-decoration: none;
                outline: none;
                border: none;
                color: colors.$primary-color;
                height: 20px;
                position: inherit;
                top: -5px;
                padding: 5px;
            }
            img {
                height: 20px;
            }
        }
        .avatar{
            
            float: right;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
                height: 40px;
            }
        }
        .avatar:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        .avatar-submenu {
            background-color: colors.$primary-dark;
            color: colors.$on-primary-color;
            position: fixed;
            right: 0;
            top: 50px;
            padding: 0.5em 0;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
            .action {
                padding: 0.5em 1em;
            }
            .action:hover {
                background-color: colors.$primary-light;
                cursor: pointer;
            }
        }
        .hidden {
            display: none;
        }
    }
}

@media (min-width: breakpoints.$small) {
    @import './NavigationBar_small';
}

@media (min-width: breakpoints.$medium) {
    @import './NavigationBar_medium';
}

@media (min-width: breakpoints.$wide) {
    @import './NavigationBar_wide';
}