.login-banner-shadow {
  filter: drop-shadow(2px 2px 3px black);
}

.login-banner {
  background-color: #232323;
  color: #E6E6E6;
  padding: 1em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  box-sizing: border-box;
}
.login-banner div.header a.gitlab-logo {
  display: block;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  text-align: center;
}
.login-banner div.header a.gitlab-logo img {
  height: 1.5em;
  margin-right: 0.5em;
}
.login-banner div.header a.gitlab-logo span {
  display: inline-block;
  font-size: 1.5em;
}
.login-banner div.content {
  width: fit-content;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
}
.login-banner div.content h1.headline {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.login-banner div.content p.sub-headline {
  font-size: 1.5em;
  text-align: center;
  padding: 0 2em;
  word-wrap: break-word;
}
.login-banner div.footer {
  display: none;
}

@media (min-width: 600px) {
  .login-banner div.content p.sub-headline {
    font-size: 1.7em;
  }
}
@media (min-width: 800px) {
  .login-banner div.content h1.headline {
    font-size: 2.5em;
  }
}
@media (min-width: 1280px) {
  .login-banner {
    border: 0;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
    position: relative;
  }
  .login-banner div.content {
    margin-top: 25vh;
  }
  .login-banner div.content h1.headline {
    font-size: 4em;
  }
  .login-banner div.content p.sub-headline {
    font-size: 2.5em;
  }
  .login-banner div.footer {
    color: #a0a0a0;
    display: block;
    position: absolute;
    bottom: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}

/*# sourceMappingURL=Banner.css.map */
