span.copyright-footer {
  width: fit-content;
  color: #5c5c5c;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0em;
}

@media (min-width: 1280px) {
  span.copyright-footer {
    display: none;
  }
}

/*# sourceMappingURL=Footer.css.map */
