.sign-in-button {
  height: fit-content;
  padding: 0.8em;
  background-color: #232323;
  color: #E6E6E6;
  border: 0;
  border-radius: 1em;
  box-shadow: 2px 2px 3px #5e5e5e;
  display: block;
  margin: auto;
  position: absolute;
  bottom: -10em;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign-in-button img {
  height: 1.3em;
  display: inline-block;
  margin-right: 1em;
}
.sign-in-button span {
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
}

.sign-in-button:hover {
  cursor: pointer;
  box-shadow: none;
}

.sign-in-button:focus {
  border: none;
  outline: none;
}

@media (min-width: 800px) {
  .sign-in-button {
    left: 50%;
  }
}
@media (min-width: 1280px) {
  .sign-in-button {
    bottom: 40%;
  }
}

/*# sourceMappingURL=SignInButton.css.map */
