.main-container {
  display: grid;
  height: 100vh;
  min-height: 568px;
  grid-template-columns: 100%;
  grid-template-rows: 33% auto 33%;
}

.banner-container {
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
}

.sign-in-button-container {
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}

.footer-container {
  grid-row-start: 3;
  grid-row-end: 3;
  position: relative;
}

@media (min-width: 1280px) {
  .main-container {
    display: grid;
    height: 100vh;
    min-height: 568px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    box-sizing: border-box;
  }

  .banner-container {
    grid-column: 1;
    grid-row: 1;
    grid-row-end: 2;
    position: relative;
  }

  .sign-in-button-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
  }

  .footer-container {
    display: none;
  }
}

/*# sourceMappingURL=Login.css.map */
